/* Jerry Garcia Page Styling */

/* Styling for the entire page */
/* color palette https://palettes.shecodes.io/palettes/1448  */

* {
    box-sizing: border-box;
}

/* Navbar Styling */

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
    color: #eaeaea;
}

.nav-link {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
    background-color: #5c7893;
    border-bottom: 2px solid pink;
}

.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover {
    color: #000000; /* Default hover color */
    cursor: pointer;
}

.guitarBody {
    margin: 0 auto;
    background-color: rgb(32, 38, 57);
    width: 100%;
}

.guitarHeader {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 45px;
    color: #f0f0f0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.scrollable {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
.img-thumbnail {
    max-width: 35%;
    max-height: 35%;
    object-fit: cover;
    cursor: pointer;
    transition: transform .7s ease-in-out;
    margin: 15px;
  }
  
  .img-thumbnail:hover,
  .img-thumbnail:focus {
    transform: scale(1.2);
    z-index: 1;
  }

.section-container {
    position: relative;
    height: 500px; /* set the height to whatever you want */
}

.section-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.section-content {
    margin-top: 100px; /* add margin to the top to avoid overlap with the image */
}

/* Footer styling */

.company-logo-guitar-page{
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
    border-radius: 50%;
    margin-top: 45px;
    border: 3px solid #B89068;
    cursor: pointer;
}

.footerStyle{
    border-top: 2px solid pink;
    max-width: 55%;
    margin: 0 auto; /* Centers the footer horizontally */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 45px;
    /* border: 1px solid red; */
}

.footerStyle a {
    color: #F0F0F0;
    text-decoration: none;
}

.yearEst{
    text-align: center;
    font-size: 12px;
    font-family: monospace,sans-serif;
    font-weight: bold;
    color: whitesmoke;
}

h6, .footer-p{
    color: whitesmoke;
}

/* Styles for cellphone */
@media (max-width: 768px) {

    /* Navbar Styling */
    .navbar-brand {
        font-size: 24px;
    }
    .nav-link {
        font-size: 16px;
    }
    
    /* Section Styling */
    .section-container {
        height: auto;
    }
    .section-image {
        position: static;
        width: 100%;
        height: auto;
    }
    .section-content {
        margin-top: 50px;
    }

    /* Footer Styling */
    .footerStyle{
        max-width: 100%;
        border-top: 2px solid pink;
    }
  
    /* Image Styling */
    .img-thumbnail {
        max-width: 80%;
        max-height: 80%;
        object-fit: cover;
        cursor: pointer;
        transition: transform 0.5s ease-in-out;
        margin: 10px;
    }
}
