/* Jerry Garcia Page Styling */

/* Styling for the entire page */
/* color palette https://palettes.shecodes.io/palettes/1448  */

* {
    box-sizing: border-box;
}

/* Navbar Styling */

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
    color: #eaeaea;
}

.nav-link {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
    background-color: #5c7893;
    border-bottom: 2px solid pink;
}

.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover {
    color: #000000; /* Default hover color */
    cursor: pointer;
}

.jerryBody {
    margin: 0 auto;
    background-color: rgb(32, 38, 57);
    width: 100%;
}

.jerryHeader {
    text-align: center;
    margin-top: 40px;
    color: #f0f0f0;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.carousel-image {
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px;
}

.scrollable {
    max-height: 500px;
    position: relative;
}

.img-thumbnail {
    margin: 30px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.img-thumbnail:hover {
    transform: scale(1.2);
    z-index: 2;
}

.section-container {
    position: relative;
    height: 500px; /* set the height to whatever you want */
}

.section-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.section-content {
    margin-top: 100px; /* add margin to the top to avoid overlap with the image */
}

/* Footer styling */
.jerryFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #f0f0f0;
    background-color: #4c638f;
    border-top: 2px solid pink;
    padding: 0 15px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.company-logo-jerry-page{
    width: 400px;
    height: 400px;
    display: block;
    margin: auto;
    border-radius: 50%;
    margin-top: 45px;
    border: 3px solid #B89068;
}

.yearEst{
    text-align: center;
    font-size: 12px;
    font-family: monospace,sans-serif;
    font-weight: bold;
    color: whitesmoke;
}
.show-footer {
    opacity: 1;
}

.jerryFooter a {
    color: #f0f0f0;
    text-decoration: none;
}

.jerryFooter a:hover {
    text-decoration: underline;
}
