/* Styling for the entire page */
/* color palatte https://palettes.shecodes.io/palettes/1448  */

* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    background-color: #a2a8d3;
}

/* Navbar Styling */

.navbar-brand{
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
}

.nav-link {
    color: #e7eaf6;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar{
    background-color: #464E5C;
    border-bottom: 2px solid pink;
}

.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover {
    color: #a2a8d3; /* Default hover color */
    cursor: pointer;
}


.company-logo{
    width: 400px;
    height: 400px;
    display: block;
    margin: auto;
    border-radius: 95px;
    margin-top: 45px;
    border: 3px solid #B89068;
}

.yearEst{
    text-align: center;
    font-size: 12px;
    font-family: monospace,sans-serif;
    font-weight: bold;
}

/* Swiper Styles */

.gallery-img {
    display: none;
    max-height: 600px;
  }
  
  .active {
    display: block;
  }
  
  .image-gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn {
    background-color: #0074d9;
    color: white;
    font-size: 20px;
    padding: 5px 20px;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .prev {
    margin-right: 15px;
  }
  
  .btn:disabled {
    background-color: #666;
    cursor: not-allowed;
  }
