/* Styling for the entire page */
/* color palatte https://palettes.shecodes.io/palettes/1448  */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #ffffff;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
}

/* Navbar Styling */

.navbar-brand{
    font-size: 30px;
    font-weight: bold;
    color: #eaeaea;
}

.nav-link {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar{
    background-color: #5c7893;
    border-bottom: 2px solid pink;
    
}

.navbar .navbar-nav > li > a:focus,
.navbar .navbar-nav > li > a:hover {
    color: #000000; /* Default hover color */
    cursor: pointer;
}


.company-logo{
    width: 400px;
    height: 400px;
    display: block;
    margin: auto;
    border-radius: 50%;
    margin-top: 45px;
    border: 3px solid #B89068;
}

.yearEst{
    text-align: center;
    font-size: 12px;
    font-family: monospace,sans-serif;
    font-weight: bold;
    color: whitesmoke;
}

/* Carousel Styles */

/* .carousel-item img {
    width: 100%;
    height: 400px; 
  }
   */

/* Jumbotron styling page one */

.jumbotron{
    color: whitesmoke;
    /* border: 3px solid red; */
    padding: 25px;
    
}

.display-9{
    font-weight: bold;
    color: #ADD8E6;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.lead{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #F0F0F0;
}

/* Footer Styling */
.footerStyle{
    color: #F0F0F0;
    background-color: #4c638f;
    border-top: 2px solid pink;
    padding: 15px;
}

.footerStyle a {
    color: #F0F0F0;
    text-decoration: none;
}

.footerStyle a:hover {
    text-decoration: underline;
}

  h6{
    color: #f0f0f0;
  }


  /* Jerry Garcia Page Styling */

  .jerryHeader{
    text-align: center;
    margin-top: 40px;
    color: #F0F0F0;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    /* border: 2px solid red; */
  }

  .carousel-image {
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px;
  }
  
  .scrollable {
    overflow-y: scroll;
    max-height: 500px;
    position: relative;
  }
  
  .img-thumbnail {
    margin: 30px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
  }
  
  .img-thumbnail:hover {
    transform: scale(1.2);
    z-index: 2;
  }

  .jerryFooter {
    position: relative;
  }
  
